<a href="https://colab.research.google.com/github/Jainadi2128/Python-Projects/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# **Pandas Data Structures**

In [8]:
a = pd.Series([3,-5,7,4], index = ['a','b','c','d'])
a

a    3
b   -5
c    7
d    4
dtype: int64

In [ ]:
data = {
    'Country': ['Belgium','United States', 'Australia'],
    'Capital': ['Brussels','Washington DC','Canberra'],
    'Population': [11190846, 331002651, 25000000]
}

In [ ]:
df = pd.DataFrame(data)
df.head()

         Country        Capital  Population
0        Belgium       Brussels    11190846
1  United States  Washington DC   331002651
2      Australia       Canberra    25000000

## **Read and Write to CSV**

In [9]:
#pd.read_csv('filename.csv')

In [10]:
df.to_csv('myDataFrame.csv')

## Selection

In [12]:
# Getting
a['b']

-5

In [13]:
df[1:]

         Country        Capital  Population
1  United States  Washington DC   331002651
2      Australia       Canberra    25000000

In [14]:
# Selecting, Boolean Indexing & Setting
## By Position
df.iloc[[0],[0]]

   Country
0  Belgium

In [20]:
df.iat[0,0]

'Belgium'

In [17]:
## By Label
df.loc[[0],['Country']]

   Country
0  Belgium

In [19]:
df.at[0,'Country']

'Belgium'

In [23]:
## By Label/Position
df.iloc[2]

Country       Australia
Capital        Canberra
Population     25000000
Name: 2, dtype: object

In [24]:
df.loc[:,'Capital']

0         Brussels
1    Washington DC
2         Canberra
Name: Capital, dtype: object

In [25]:
df.loc[1,'Capital']

'Washington DC'

In [26]:
## Boolean Indexing
a[~(a > 1)]

b   -5
dtype: int64

In [27]:
a[(a < -1) | (a > 2)]

a    3
b   -5
c    7
d    4
dtype: int64

In [30]:
df[df['Population'] > 1200000000]

Empty DataFrame
Columns: [Country, Capital, Population]
Index: []

In [31]:
##Setting
a['a'] = 6

In [32]:
a

a    6
b   -5
c    7
d    4
dtype: int64

## **Dropping**

In [33]:
a.drop(['a', 'c'])

b   -5
d    4
dtype: int64

In [35]:
df.drop('Country', axis=1)

         Capital  Population
0       Brussels    11190846
1  Washington DC   331002651
2       Canberra    25000000

## **Sort and Rank**

In [36]:
df.sort_index()

         Country        Capital  Population
0        Belgium       Brussels    11190846
1  United States  Washington DC   331002651
2      Australia       Canberra    25000000

In [37]:
df.sort_values(by='Country')

         Country        Capital  Population
2      Australia       Canberra    25000000
0        Belgium       Brussels    11190846
1  United States  Washington DC   331002651

In [38]:
df.rank()

   Country  Capital  Population
0      2.0      1.0         1.0
1      3.0      3.0         3.0
2      1.0      2.0         2.0

## **Retrieving Series/DataFrame Information**

In [39]:
## Basic Information
df.shape

(3, 3)

In [40]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [41]:
df.columns

Index(['Country', 'Capital', 'Population'], dtype='object')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     3 non-null      object
 1   Capital     3 non-null      object
 2   Population  3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [43]:
df.count()

Country       3
Capital       3
Population    3
dtype: int64

In [44]:
## SUMMARY
df.sum()

Country       BelgiumUnited StatesAustralia
Capital       BrusselsWashington DCCanberra
Population                        367193497
dtype: object

In [45]:
df.cumsum()

                         Country                        Capital  Population
0                        Belgium                       Brussels    11190846
1           BelgiumUnited States          BrusselsWashington DC   342193497
2  BelgiumUnited StatesAustralia  BrusselsWashington DCCanberra   367193497

In [46]:
df.describe()

         Population
count  3.000000e+00
mean   1.223978e+08
std    1.807890e+08
min    1.119085e+07
25%    1.809542e+07
50%    2.500000e+07
75%    1.780013e+08
max    3.310027e+08

## **Applying Functions**

In [47]:
f = lambda x : x*2
f

In [48]:
df.apply(f)

                      Country                     Capital  Population
0              BelgiumBelgium            BrusselsBrussels    22381692
1  United StatesUnited States  Washington DCWashington DC   662005302
2          AustraliaAustralia            CanberraCanberra    50000000

In [49]:
df.applymap(f)

                      Country                     Capital  Population
0              BelgiumBelgium            BrusselsBrussels    22381692
1  United StatesUnited States  Washington DCWashington DC   662005302
2          AustraliaAustralia            CanberraCanberra    50000000